footer{
  width: 100%;
  height: .94rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #ccc;
  flex-shrink: 0;
}
footer>div{
  width: 0.38rem;
  height: 0.65rem;
}
footer .home{
  background-image: url(../images/home/home2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
footer .msg{
  background-image: url(../images/home/msg1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
footer .new{
  width: 0.65rem;
  background-image: url(../images/home/new.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
footer .huati{
  background-image: url(../images/home/huati1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
footer .my{
  background-image: url(../images/home/my1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}